bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.sql*
*.db-shm
*.db-wal
*.DotSettings.user
logs/

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# static
static/media/